@page "{**path}"
@model IndexModel
@{
    ViewData["Title"] = "Geek Folders";
}

<h1>"Folder" - @Model.Folder.Name</h1>

@if (Model.Folder.Children != null && Model.Folder.Children.Count > 0)
{
    <ul>
        @foreach (var child in Model.Folder.Children)
        {
            <li>
                <a href="@Url.Page("Index", new { path = child.FullPath })">@child.Name</a>
            </li>
        }
    </ul>
}
